<!DOCTYPE html>
<html>
<head>
    <% include blocks/links.ejs %>
    <title> <%= title %> </title>
</head>
<body>

<% include blocks/menu.ejs %>

<div id="main">
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
    <i class="fas fa-dragon" style="font-size:35px;color:slategray;text-shadow:2px 2px 4px #000000;"></i>
    
    <div class="form-add" style="height:230px">
        <h2><%= title %></h2>
        
        <form method="POST" action="/products/add_discount/<%= product._id %>">
            <div class="row">
                <div class="col">
                        <div class="form-group">
                            <label for="Discount">Discount:</label>
                            <input type="discount" name="discount" class="form-control" id="discount" placeholder="discount" value="<%= product.discount %>">
                        </div>
                        <button>Confirm</button>
                </div>

            </div>
        </form>
        
    </div>
</div>

<% include blocks/footer.ejs %>
  
  <script src="/scripts/menuScript.js"></script>
  <% include blocks/script_links.ejs %>
  </body>
  </html>