<!DOCTYPE html>
<html>
<head>
    <% include blocks/links.ejs %>

    <style>
        body {
            background-color:black;
        }
    </style>
</head>
<body>
    <% include blocks/menu.ejs %>
    <div id="main">
    <span style="font-size:30px;cursor:pointer;color:whitesmoke" onclick="openNav()">&#9776;</span>
    <i class="fas fa-dragon" style="font-size:35px;color:slategray;text-shadow:2px 2px 4px #000000;"></i>
    <center>
        <!-- <h1 style="color:darkred">404</h1> -->
        <img src="/images/HTML-404-Error-Page.gif" height="60%">
    </center>
    </div>


    <script src="/scripts/errorMenuScript.js"></script>
</body>
</html>