<!DOCTYPE html>
<html>
<head>
    <% include blocks/links.ejs %>
</head>
<body>

<% include blocks/menu.ejs %>

<div id="main">
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
  <i class="fas fa-dragon" style="font-size:35px;color:slategray;text-shadow:2px 2px 4px #000000;"></i>
    <h1>&copy; Alex Skorupskyy 2019</h1>
    <h3>LNU CS AMI-31</h3>
    <h3>Address. 1, Universytetska str., Lviv, 79000</h3>
    <h3>Tel. 0123456789</h3>
    <h3>E-mail: alex.skorupskyy@gmail.com</h3>

    
</div>
<% include blocks/footer.ejs %>
<script src="/scripts/menuScript.js"></script>
   
</body>
</html>