<!DOCTYPE html>
<html>
<head>
    <% include blocks/links.ejs %>
    <title> <%= title %> </title>
</head>
<body>

<% include blocks/menu.ejs %>

<div id="main">
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
  <i class="fas fa-dragon" style="font-size:35px;color:slategray;text-shadow:2px 2px 4px #000000;"></i>
  <h1>Webstore</h1>
    
    <ul>
    <% products.forEach(function(product) { %>
        <li><%= product.model %> - <%= product.processor %></li>
    <% }); %>
    </ul>

    <% include blocks/footer.ejs %>
</div>

<script src="/scripts/menuScript.js"></script>
   
</body>
</html>