a.previous {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  a.previous:hover {
    background-color: #ddd;
    color: black;
  }
  a.next {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  a.next:hover {
    background-color: #ddd;
    color: black;
  }
  
  .previous {
    background-color: #f1f1f1;
    color: black;
  }
  
  .next {
    background-color: #4CAF50;
    color: white;
  }
  
  .round {
    border-radius: 10%;
  }