body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: rgba(0,0,0,0.2);
    /* background: url(https://cdn.pixabay.com/photo/2017/01/08/21/11/wood-1963988__340.jpg) no-repeat center fixed; 
    background-size: cover; */
    height: 100%;
    transition: background-color .5s;
  }
  
h3 {
  font-family: 'Nunito Sans', sans-serif;
}

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Nunito Sans', sans-serif;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
    margin-bottom: 10px;
    /* height: 100%; */
    /* hardcode */
    /* background-image: linear-gradient(to bottom right, rgba(0,0,0,0.2), rgba(0,0,0,0.3)); */
  }
  
  @media screen and (max-height: 550px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    .col {width: 100%; margin-top: 0;}
  }

button{
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 30%;
  font-size: 18px;
}

button:hover{
  background-color: darkslategray;
  color: white;
}

.delete{
  background-color: rgb(150, 0, 0);
}

.form{
  background-color: dimgray;
  color: aliceblue;
  border: 1px solid rgb(0, 0, 0);
  text-align:center;
  width: 40%;
  margin-left: 30%;
  margin-top: 100px;
  height: 350px;
}

.form-add{
  background-color: dimgray;
  color: aliceblue;
  border: 1px solid rgb(0, 0, 0);
  text-align:center;
  width: 40%;
  margin-left: 30%;
  margin-top: 100px;
  height: 620px;
}

.col {
  width: 80%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

small{
  color: aliceblue;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin: auto;
  text-align: center;
  font-family: arial;
  /* float: left; */
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.alert-error{
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-success_msg{
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

/* The container */
.ccontainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.ccontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.ccontainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.ccontainer input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.ccontainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.ccontainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}