body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: rgba(0,0,0,0.2);
    /* background: url(https://cdn.pixabay.com/photo/2017/01/08/21/11/wood-1963988__340.jpg) no-repeat center fixed; 
    background-size: cover; */

    transition: background-color .5s;
  }
  
h3 {
  font-family: 'Nunito Sans', sans-serif;
}

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Nunito Sans', sans-serif;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
    height: 1500px;
    /* hardcode */
    background-image: linear-gradient(to bottom right, rgba(0,0,0,0.2), rgba(0,0,0,0.3));
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  footer {
    position: fixed;
    left: 0; bottom: 0;
    height: 110px;
    width: 100%;
}