body {
    font-family: 'Nunito Sans', sans-serif;
    background-color: rgba(0,0,0,0.2);
    /* background: url(https://cdn.pixabay.com/photo/2017/01/08/21/11/wood-1963988__340.jpg) no-repeat center fixed; 
    background-size: cover; */
    height: 100%;
    transition: background-color .5s;
  }
  
h3 {
  font-family: 'Nunito Sans', sans-serif;
}

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Nunito Sans', sans-serif;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
    margin-bottom: 150px;
    /* height: 100%; */
    /* hardcode */
    /* background-image: linear-gradient(to bottom right, rgba(0,0,0,0.2), rgba(0,0,0,0.3)); */
  }
  
  @media screen and (max-height: 550px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    .col {width: 100%; margin-top: 0;}
  }

button{
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 30%;
  font-size: 18px;
}

button:hover{
  background-color: darkslategray;
  color: white;
}

footer {
    position: fixed;
    left: 0; bottom: 0;
    width: 100%;
background-color: darkgray;
   color: white;
   text-align: center;
}

.login{
  background-color: dimgray;
  color: aliceblue;
  border: 1px solid rgb(0, 0, 0);
  text-align:center;
  width: 40%;
  margin-left: 30%;
  margin-top: 100px;
  height: 350px;
}

.col {
  width: 80%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

small{
  color: aliceblue;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  /* float: left; */
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}