<footer class="w3-container w3-teal w3-center w3-margin-top">
    <p></p>
    <i class='fab fa-facebook' style="font-size:40px;color:black;"></i>
    <i class='fab fa-instagram' style="font-size:40px;color:black;"></i>
    <i class='fab fa-github' style="font-size:40px;color:black;"></i>
    <i class='fab fa-wikipedia-w' style="font-size:40px;color:black;"></i>
    <i class='fab fa-linkedin' style="font-size:40px;color:black;"></i>
    <p></p>
    <p>Developed by <a href="https://github.com/AlexSkorupsky/web-applications-programming-and-support" target="_blank">AlexSkorupsky</a></p>
    <p></p>
</footer>