<footer>
<div class="frow">
  <div class="fcolumn1">
    <p>LNU CS AMI-31</p>
    <p>Address. 1, Universytetska str., Lviv, 79000</p>
    <p>Tel. 0123456789</p>
    <p>E-mail: alex.skorupskyy@gmail.com</p>
  </div>
  <div class="fcolumn">
  <p>Follow us:</p>
    <i class='fab fa-facebook' style="font-size:40px;color:black;"></i>
    <i class='fab fa-instagram' style="font-size:40px;color:black;"></i>
    <i class='fab fa-github' style="font-size:40px;color:black;"></i>
    <i class='fab fa-telegram-plane' style="font-size:40px;color:black;"></i>
    <i class='fab fa-youtube' style="font-size:40px;color:black;"></i>
    <i class='fab fa-linkedin' style="font-size:40px;color:black;"></i>
    <p></p>
    <p>Developed by <a href="https://github.com/AlexSkorupsky/web-applications-programming-and-support" target="_blank">StrongHamster</a></p>
    <p>Copyright &copy; Alex Skorupskyy 2019</p>
  </div>
  <div class="fcolumn3">
    <p>LNU CS AMI-31</p>
    <p>Address. 1, Universytetska str., Lviv, 79000</p>
    <p>Tel. 0123456789</p>
    <p>E-mail: alex.skorupskyy@gmail.com</p>
  </div>
</div>
</footer>