<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/index">Index</a>
  <a href="/error404">Error page</a>
  <a href="/product/1">Product 1</a>
  <a href="/product/2">Product 2</a>
  <a href="/temp">Temp</a>
  <a href="/login">Log in</a>
</div>