<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/">DragonStore</a>
    <a href="/error404">Error page</a>
    <a href="/products/add">Add product</a>
    <a href="/users/login">Log in</a>
    <a href="/users/register">Sign up</a>
</div>