<nav class="navbar navbar-inverse" style="background-color: lightgray">
    <div class="container-fluid">
        <div class="navbar-header">
            <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
            <a class="navbar-brand" href="#"><h2>DragonStore</h2></a>
            <i class="fas fa-dragon" style="font-size:40px;color:slategray;text-shadow:2px 2px 4px #000000;"></i>
        </div>
        
        <ul class="nav navbar-nav navbar-right">
            <% if(user) {%>
                <a href="/users/logout"> Log out</a>
            <%} else {%>
                <a href="/users/register"> Sign Up</a>
                <a href="/users/login"> Login</a>
            <%}%>
        </ul>
    </div>
</nav>