<nav class="navbar navbar-inverse" style="background-color: lightgray">
    <div class="container-fluid">
        <div class="navbar-header">
            <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
            <a class="navbar-brand" href="#"><h3>DragonStore</h3></a>
            <i class="fas fa-dragon" style="font-size:40px;color:slategray;text-shadow:2px 2px 4px #000000;"></i>
        </div>
        
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/users/register"> Sign Up</a></li>
            <li><a href="/users/login"> Login</a></li>
        </ul>
    </div>
</nav>